* {
  font-family: "Montserrat", sans-serif;
  margin: 3px;
  padding: 0;
  color: white;
  overflow: hidden;
}
body {
  background-color: black;
}
.main {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 300px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 84px);
}
.main-content {
  background-color: #1d1c1cd3;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  /* scrollbar-color: rgb(209, 18, 18) rgb(202, 19, 19); */
  height: calc(100vh - 84px);
}
.music-player {
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
}
a {
  text-decoration: none;
  font-weight: 600;
}
.nav {
  background-color: #161515d3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 0.5rem 0.75rem;
  height: 100px;
  border-radius: 0.5rem;
}

.nav-option {
  display: flex;
  gap: 1rem;
}
.nav-option a {
  font-size: 1rem;
}
.nav-option i {
  font-size: 1.25rem;
}
.search a,
.search i {
  color: #ffffffa2;
}
.search:hover a,
.search:hover i {
  color: #fff;
  transition: all 700ms ease;
  cursor: pointer;
}
.library {
  flex: 1;
  background-color: #161515d3;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.option {
  display: flex;
  justify-content: space-between;
}
.icon {
  display: flex;
  gap: 1rem;
}
.lib-option {
  display: flex;
  gap: 1rem;
}
.lib-option a,
.lib-option img,
.fa-plus,
.fa-arrow-right {
  opacity: 0.7;
}
.lib-option:hover a,
.lib-option:hover img {
  opacity: 1;
  transition: all 700ms ease;
  cursor: pointer;
}

.lib-option img {
  width: 1rem;
}
.fa-plus,
.fa-arrow-right {
  font-size: 1rem;
}

.playlist {
  padding: 0.3rem 0.6rem;
  color: #fff;
  border-radius: 1.5rem;
  background-color: #302f2f9f;
  width: fit-content;
}
.playlist:hover {
  background-color: #333333;
  transition: all 400ms ease;
  cursor: pointer;
}
.recent-option {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.recent-option .fa-magnifying-glass {
  opacity: 0.7;
}
.recent-option .fa-magnifying-glass:hover {
  opacity: 1;
}

.recent {
  display: flex;
  gap: 1rem;
  opacity: 0.7;
}
.recent:hover {
  opacity: 1;
  cursor: pointer;
}
.recent i {
  font-size: 1.25rem;
}
.recent-option .fa-magnifying-glass {
  height: 1rem;
  padding: 0.5rem;
}
.lib-box-1 {
  display: flex;
  gap: 0.4rem;
  border-radius: 0.5rem;
  padding: 0.4rem;
}
.lib-box-1:hover {
  background-color: #1d1c1c;
  transition: all 400ms ease;
  cursor: pointer;
}
.box-1-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.p-2 {
  display: flex;
  justify-content: center;
  word-spacing: 0.2rem;
  font-size: 12px;
  color: #ffffffa2;
}
.p-1 {
  font-weight: 600;
  color: #fff;
}
.box-1-img {
  height: 3.5rem;
  width: 3.5rem;
  background: linear-gradient(135deg, rgb(41, 41, 212), white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
.box-2-img {
  height: 3.5rem;
  width: 3.5rem;
  background: linear-gradient(135deg, black, rgb(73, 73, 73));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  color: rgb(73, 73, 73);
}
.dot {
  height: 0.3rem;
  width: 0.3rem;
  border-radius: 50%;
  background-color: #ffffffa2;
  margin: 0.4rem;
}
.nav-main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0.5rem 1rem;
  background-color: #1d1c1c;
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 2;
}
.nav-icon {
  display: flex;
}
.backward-icon img,
.forward-icon img {
  width: 1rem;
  height: 1rem;
}
.backward-icon img:hover,
.forward-icon img:hover {
  cursor: not-allowed;
}
.backward-icon,
.forward-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-badge {
  display: flex;
  gap: 0.7rem;
  padding: 0.5rem;
}
.sign-up {
  color: #000;
  padding: 0.25rem 1rem;
  border-radius: 2.5rem;
  font-size: 0.85rem;
  background-color: white;
  font-weight: 600;
  display: flex;
  height: 2rem;
  box-sizing: border-box;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.login {
  background-color: #000000a2;
  color: #fff;
  font-weight: 600;
  padding: 0.25rem 1rem 0.25rem 1rem;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
  margin: 0;
}
.fa-circle-down {
  font-size: 1rem;
}
.user {
  background-color: #000000a2;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.login:hover,
.sign-up:hover {
  cursor: pointer;
  scale: 1.05;
  transition: all 100ms ease;
}
@media (max-width: 1023px) {
  .sign-up,
  .forward-icon {
    display: none;
  }
}
.user:hover {
  scale: 1.04;
  cursor: pointer;
  transition: all 100ms ease;
}
i:hover,
img:hover {
  cursor: pointer;
}
.main-content-body {
  margin: 0;
  padding: 0 1.125rem;
}
.cards {
  width: 9.5rem;
  height: 14.5rem;
  background-color: #131212;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.4rem;
}
.card-img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 0.4rem;
  margin: 0;
  overflow: hidden;
}

.card-1-img-1 {
  background: url("./Assets/card1img.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-2-img-1 {
  background: url("./Assets/trigard_insaan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-2-img-2 {
  background: url("./Assets/Horror_show.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-2-img-3 {
  background: url("./Assets/chanakya_niti.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-2-img-4 {
  background: url("./Assets/decode_dil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-3-img-1 {
  background: url("./Assets/jai_shree_ram.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-3-img-2 {
  background: url("./Assets/rao_saab.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-3-img-3 {
  background: url("./Assets/mi_amor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-3-img-4 {
  background: url("./Assets/lo_ayi_barsat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-4-img-1 {
  background: url("./Assets/card5img.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-4-img-2 {
  background: url("./Assets/card7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-4-img-3 {
  background: url("./Assets/card1img.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-4-img-4 {
  background: url("./Assets/card8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-header {
  padding: 0.5rem 0;
  font-size: 0.98rem;
}
.card-p {
  font-size: 0.75rem;
  line-height: 1rem;
  overflow: hidden;
  opacity: 0.7;
  margin: 0;
  height: 2rem;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
}
.cards:hover {
  cursor: pointer;
  background-color: #1f1f1f;
}
.section {
  margin-bottom: 4rem;
  height: 15rem;
}
.card-show {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 0.85rem;
}
.head-section {
  display: flex;
  justify-content: space-between;
}
.head-section h2:hover,
.head-section a:hover {
  text-decoration: underline;
}

.header-overflow {
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
}
.section {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  overflow: hidden;
  flex-wrap: wrap;
}

.fa-circle-play {
  font-size: 2rem;
  color: rgb(24, 207, 24);
  background-color: #000;
  border-radius: 50%;
  position: relative;
  transition: all 200ms ease-in-out;
  bottom: -3rem;
}
.hover-play {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.cards:hover .fa-circle-play {
  position: relative;
  bottom: 0rem;
  transition: all 200ms ease-in-out;
}
.footer-up {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-list-link {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  gap: 2rem;
}
.communities,
.company,
.useful-links {
  height: 14.2rem;
  margin: 0;
}
.useful-links span {
  display: flex;
  flex-direction: column;
  opacity: 0.7;
}
.footer-list-link span {
  display: flex;
  flex-direction: column;
  opacity: 0.7;
}
.footer-list-link span a {
  font-weight: 100;
}
.footer-list-link a:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
}
.social-media {
  padding: 0rem;
  width: 12rem;
}
.social-media-icon {
  display: inline-block;
  padding: 0.62rem;
  box-sizing: border-box;
  margin: 0.5rem;
  align-self: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #2b2b2b;
  border-radius: 50%;
}
.social-media-icon:hover {
  cursor: pointer;
  background-color: #383737;
}
.footer-terms {
  font-size: 0.85rem;
  margin: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.list-1 {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.list-2 span {
  opacity: 0.7;
}
.list-2 span:hover {
  opacity: 1;
  cursor: pointer;
}
.footer-terms span {
  margin: 0;
  opacity: 0.7;
}
.footer-terms span:hover {
  opacity: 1;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 1rem;
  background-color: #1d1c1cd3;
}
::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
}
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}
.music-player{
    display: flex;
    align-items: center;

}
.player-box-1{
    width: 30%;
    margin: 0;
    min-width: 240px;
}
.player-box-2{
    width: 40%;
    min-width: 320px;
    margin: 0;
}
.player-box-3{
    width: 30%;
    min-width: 240px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;

}
.player-box-3 span{
    margin: 0 .5rem;
}
.player-box-3 span img{
    background-size: contain;
    margin: 0;
}
.music-img-3 img{
    width: 1.4rem;
    height: 1.4rem;
}
.music-img-1 img{
    width: 2rem;
    height: 2rem;
}
.music-img-2 img{
    width: 1.4rem;
    height: 1.4rem;
}
.music-img-4 img{
    width: 2rem;
    height: 2rem;
}
.music-img-5{
    width: 4rem;
    height: .3rem;
    border-radius: .15rem;
    background: linear-gradient(to right, white 25%, rgb(19, 19, 19) 10%);
    margin-left: 0;
    position: relative;
    top: -.1rem;
    left: -.5rem;
}
.music-img-5:hover{
    background: linear-gradient(to right, rgb(11, 241, 68) 25%, rgb(19, 19, 19) 10%);
    cursor: pointer;
}
.player-box-2{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.playback-control{
    height: 2rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playback-bar{
    height: 1rem;
    margin: 0;
}
.playback-control div{
    margin: 0 .7rem;
}
.playback-control img{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
    opacity: .1rem;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar-icon-1{
    margin: 0;
    width: 14rem;
    height: .4rem;
    border-radius: .2rem;
    background-color: #2b2b2b;
}
.box-2-icon-3 img{
    width: 1.8rem;
    height: 1.8rem;
}
.box-2-icon-3 img:hover{
    scale: 1.05;
}
.player-box-1{
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
}
.play-song-icon-1 img{
    width: 3rem;
    height: 3rem;
}
.play-song-icon-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.play-song-para{
    font-size: .7rem;
    margin: 0;
}
.play-song-icon-3 img{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
}
.play-song-icon-4 img{
    width: 2rem;
    height: 2rem;
    margin: 0;
}